<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body
    class="bg-white text-black antialiased dark:bg-gray-900 dark:text-white"
  >
    <div class="mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0">
      <!-- HEADER -->
      <header class="flex items-center justify-between py-10">
        <div
          class="h-6 text-2xl font-semibold block w-full text-center"
        >
          <a href="/">Tech Blog</a>
        </div>
      </header>

      <!-- MAIN -->
      <main>
        <div
          class="p-6 md:w-1/2 m-auto bg-white rounded-lg dark:bg-gray-800"
        >
          <form action="api/register" method="post">
            <h1
              class="text-xl font-semibold text-gray-700 dark:text-gray-200"
            >
              Create A New Account
            </h1>
            <p class="mb-4">
              <a
                class="text-xs font-medium text-purple-600 dark:text-purple-400 hover:underline"
                href="/login"
              >
                Or login to an existing account
              </a>
            </p>
            <label class="block text-sm">
              <span class="text-gray-700 dark:text-gray-400"
                >Email</span
              >
              <input
                name="email"
                type="email"
                class="block w-full p-1 mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              />
            </label>
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400"
                >Username</span
              >
              <input
                name="username"
                class="block w-full p-1 mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              />
            </label>
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400"
                >Password</span
              >
              <input
                name="password"
                type="password"
                class="block w-full p-1 mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              />
            </label>
            <button
              type="submit"
              class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
            >
              Create Account
            </button>
          </form>
        </div>
      </main>

      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
