<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>TECH BLOG</title>
    <!-- <link href="/css/output.css" rel="stylesheet" /> -->
    <!-- SWITCH BACK TO LINKED CSS BEFORE POSTING  -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-white text-black antialiased dark:bg-gray-900 dark:text-white"
  >
    <div class="mx-auto max-w-3xl px-4 sm:px-6 xl:max-w-5xl xl:px-0">
      <!-- HEADER -->
      <header class="flex items-center justify-between py-10">
        <div class="h-6 text-2xl font-semibold block">
          <a href="/">Tech Blog</a>
        </div>

        <div class="flex items-center text-base leading-5">
          <ul class="flex">
            <li>
              <a
                class="pl-12 font-medium text-gray-900 dark:text-gray-100"
                href="/blog"
                >Blog</a
              >
            </li>
            <% if(isAuthenticated){ %>
            <li>
              <a
                class="pl-12 font-medium text-gray-900 dark:text-gray-100"
                href="/admin"
                >Admin</a
              >
            </li>
            <% } %>
            <li>
              <a
                class="pl-12 font-medium text-gray-900 dark:text-gray-100"
                href="/logout"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </header>

      <!-- MAIN -->

      <main class="mb-auto">
        <div class="divide-y divide-gray-200 dark:divide-gray-700">
          <div class="space-y-2 pt-6 pb-8 md:space-y-5">
            <h1
              class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
            >
              Create Post
            </h1>
          </div>

          <form action="/api/create-post" method="post" class="pt-4">
            <label class="block text-sm">
              <span class="text-gray-700 dark:text-gray-400"
                >Title</span
              >
              <input
                name="title"
                class="block w-full p-1 mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              />
            </label>
            <label class="block mt-4 text-sm">
              <span class="text-gray-700 dark:text-gray-400"
                >Content</span
              >
              <textarea
                name="content"
                class="block w-full p-1 mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
              ></textarea>
            </label>
            <button
              type="submit"
              class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
            >
              Save Post
            </button>
          </form>
        </div>
        <div
          class="flex justify-center text-base font-medium leading-6 mt-6"
        >
          <button
            class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
            aria-label="all posts"
          >
            <a href="/admin">Return to Admin →</a>
          </button>
        </div>
      </main>

      <!-- FOOTER -->
      <footer>
        <div class="text-center text-gray-400 p-6">
          © 2022 Copyright :
          <a href="/">Tech Blog Corp</a>
        </div>
      </footer>
    </div>
  </body>
</html>
